<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Регистрация</title>
    <script>
        function checkPassword(form) {
                password = form.password.value;
                password_repeat = form.password_repeat.value;
  
                // Если пароли не введены
                if (password == '') {
                    document.getElementById("error").innerHTML = "Введите пароль";
                    return false;
                }     
                // Если пароль не подтвержден
                else if (password_repeat == '') {
                    document.getElementById("error").innerHTML = "Подтвердите пароль";
                    return false;
                }     
                // Если пароли не равны    
                else if (password != password_repeat) {
                    document.getElementById("error").innerHTML = "Пароли не совпадают";
                    return false;
                }
  
                // Если равны = true
                else{
                    
                    return true;
                }
            }

    </script>
</head>
<body>
    {% if user.is_authenticated %}
    <h2>Вы уже вошли в аккаунт</h2>
    {% else %}
    <h2>Регистрация</h2>
    <form method="post" action={% url 'create_user' %} onSubmit = "return checkPassword(this)">
        {% csrf_token %}
        <p>Имя пользователя:<br> <input name="username" placeholder="Имя пользователя"/></p>
        <p>Почта:<br> <input name="email" placeholder="Почта"/></p>
        <p>Пароль:<br> <input type="password" name="password" id="pwd"  placeholder="Введите пароль"/>
            <button type="button" onclick="if (pwd.type == 'text') pwd.type = 'password', pwd2.type = 'password'; else pwd.type = 'text', pwd2.type = 'text';">показать пароль</button>
        <p>Повторите пароль:<br> <input type="password" name="password_repeat" id="pwd2" placeholder="Повторите пароль"/></p>
        <p id="error"></p>
        <br/>
        <input type="submit" value="Отправить" />
    </form>
    {% endif %}
</body>
</html>
</html>