{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
<body>
    {{user}}
    {% if user.is_authenticated and user.is_active%}
    <div class="">
        <header class="">
            Вы вошли в аккаунт
            <a class="underline underline-offset-1" href="logout/">Выйти</a>
        </header>
    </div>
    {% elif not user.is_active and user.is_authenticated%}
    <div class="">
        Подтвердите свой аккаунт
    </div>
    {% else %}
    <div class="">
        Надо залогинится
        <br/>
        <a class="underline underline-offset-1" href="signup/">Зарегистрироваться</a>
        <a class="underline underline-offset-1" href="login/">Войти</a>
    </div>
    {% endif %}
    
</body>

</html>
 