{% load django_browser_reload %}
{% load static %}

<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="https://cdn.tailwindcss.com"></script>
<body>
    <div class="App">
        <header class="App-header">
            <img src="{% static 'Octocat.png' %}" class="App-logo" alt="logo" />
            <p>
                GitHub Codespaces<span class="heart">♥️</span> HI
            </p>
            <p class="small">
                Edit <code>predprof/templates/index.html</code> and see changes live!
                <div class="text-neutral-200">TEST__1</div>
            </p>
        </header>
    </div>
</body>

</html>
 