<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Админ-панель</title>
</head>
<body>
    <h2>Добавление нового сервиса</h2>
    <form method="post" action={% url 'add_service' %} enctype=multipart/form-data>
        {% csrf_token %}
        {{error}}
        <p>Название:<br> <input name="name" placeholder="Название"/></p>
        <p>URL:<br> <input name="url" placeholder="http:/url.ru"/></p>
        <p>Логотип:<br><input name="img" type="file" /></p>
        <input type="submit" value="Отправить"/>
        <input type="hidden" name="next" value="{{ next }}"/>

    </form>
</body>
</html>