<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
        
        @layer base {
          html {
            font-family:  'Comic Sans', system-ui, sans-serif; 
          }
        }
    </style>
    <script type="text/javascript">
            function search(){
            
                return window.location.replace("/search/"+document.getElementById("search").value)

            }
            
    </script>
    <script src="/static/canvasjs.3.js"></script>
</head>  
    <div class="bg-neutral-400">
        (тест инфа)<br/>
        Ваш аккаунт - {{user}}
        <br/>
        Подтвержден: {{ user.is_confirmed }}
        
    {% if user.is_authenticated and user.is_confirmed%}
    <div class="mt-2 pt-4">
        <div>
            <div class="text-lg font-bold ">Вы вошли в аккаунт</div><br/>
            <a class="underline underline-offset-1" href="/logout/">Выйти</a>
        </div>
    </div>
    {% elif user.is_authenticated and not user.is_confirmed%}
    <div class="mt-2 pt-4">
        Подтвердите свой аккаунт. Проверьте почту<br/>
        <a class="underline underline-offset-1" href="/logout/">Выйти</a>
    </div>
    {% elif not user.is_authenticated %}
    <div class="mt-2 pt-4">
        <h1 class="text-lg font-bold">Надо залогинится</h1>
        
        <a class="underline underline-offset-1" href="signup/">Зарегистрироваться</a>
        <a class="underline underline-offset-1" href="login/">Войти</a>
    </div>
    {% endif %}

    </div>

<body class="bg-neutral-300">
  
    
    <header>
        <div class="flex mx-20 my-8 w-auto h-20 bg-neutral-100 rounded-lg justify-items-center align-middle place-content-center drop-shadow-lg">
            <p class="my-4 mx-8 text-2xl font-semibold">ВУЗ-Детектор</p>
            <a class="my-4 mx-8 text-lg font-semibold" href="login/"> Авторизация</a>
            <div class="flex my-4 mx-8">
                <form action="/search/" method="POST">
                    {% csrf_token %}
                    <input type="text" name="search" autocomplete="off"/>
                    <button class="hover:text-neutral-500" type="submit" value="Найти">Найти</button>
                </form>
            </div>
        </div>
    </header>

    <br>
    потом доделать
    <br>
    <div class="flex place-content-center">
    {%for item in full_array%}
        <div id="chart{{ forloop.counter }}" class="mx-4 h-48 w-72  rounded-lg "></div>
        {{item.0.info_status}}
    {%endfor%}

        <script>
        
            window.onload = function () {
            {%for item in full_array%}
            
            var chart{{ forloop.counter }} = new CanvasJS.Chart("chart{{ forloop.counter }}", {
                animationEnabled: true,
                title:{
                    text: "{{item.0.name}}"
                },
                axisX:{
                    valueFormatString: "DD MMM HH:MM:ss",
                    labelAngle: -20,
                    gridThickness: 0.1,
                    
                    
                },
                axisY: {
                    title: "",
                    gridThickness: 0.1,
                    scaleBreaks: {
                        autoCalculate: true
                    }
                },
                data: [{
                    type: "spline",
                    
                    xValueFormatString: "DD MMM  HH:MM:ss",
                    color: "{{item.0.color}}",
                    
                    dataPoints: [
                    {%for i in item%}
                        { x: new Date(Date.UTC({{i.year}}, {{i.month}}-1, {{i.day}}, {{i.hour}}, {{i.minute}}, {{i.second}})), y: {{i.y}} },
                    {%endfor%}
                    ]
                }]
            });
            chart{{ forloop.counter }}.render();
            {%endfor%}
            }
        </script>
    </div>
</body>
</html>
 