<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
        
        @layer base {
          html {
            font-family:  'Comic Sans', system-ui, sans-serif; 
          }
        }
        </style>
        <script type="text/javascript">
            function search(){
            
                var query = document.getElementById("search")
                var from = document.getElementById("search_form")
                query = "/search/"+query
                document.location.replace(query)

            }
            
        </script>
</head>  
    <div class="bg-neutral-400">
        (тест инфа)<br/>
        Ваш аккаунт - {{user}}
        <br/>
        Подтвержден: {{ user.is_confirmed }}
        
    {% if user.is_authenticated and user.is_confirmed%}
    <div class="mt-2 pt-4">
        <div>
            <div class="text-lg font-bold ">Вы вошли в аккаунт</div><br/>
            <a class="underline underline-offset-1" href="logout/">Выйти</a>
        </div>
    </div>
    {% elif user.is_authenticated and not user.is_confirmed%}
    <div class="mt-2 pt-4">
        Подтвердите свой аккаунт. Проверьте почту<br/>
        <a class="underline underline-offset-1" href="logout/">Выйти</a>
    </div>
    {% elif not user.is_authenticated %}
    <div class="mt-2 pt-4">
        <h1 class="text-lg font-bold">Надо залогинится</h1>
        
        <a class="underline underline-offset-1" href="signup/">Зарегистрироваться</a>
        <a class="underline underline-offset-1" href="login/">Войти</a>
    </div>
    {% endif %}
    <form>
        {% csrf_token %}
        <input type="text" id="search"  onsubmit='location.href="/search/"+document.getElementById("search").value'/>
        <input type="button"  onclick='location.href="/search/"+document.getElementById("search").value' value="Найти" />
    </form>
    </div>

<body class="bg-neutral-300">

    <header>
        <div class="flex mx-20 my-8 w-auto h-20 bg-neutral-100 rounded-lg justify-items-center align-middle drop-shadow-lg">
            <p class="my-4 mx-8 text-2xl font-semibold">ВУЗ-Детектор</p>
            <a class="my-4 mx-8 text-lg font-semibold" href="login/"> Авторизация</a> 
        </div>
    </header>

    <br>
    потом доделать

</body>
</html>
 