<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
</head>
<body>
    Тестовая страница рендера сервиса
    {{url}}
    
    <img class="" width="100" src="{{image}}">
    <a href="/add_subscribe&{{slug}}">Добавить в избранное</a>
    <div class="div">
        <h3>У меня недоступен ресурс</h3>
        <form method="post" action="/add_report&{{slug}}/" enctype=multipart/form-data>
            {% csrf_token %}
            {{error}}
            <p>Выберете проблему:<br> <select name="type" id="">
                <option value=" ">---Выберете проблему---</option>
                <option value="connection">Подключение к сервису</option>
                <option value="login">Вход/регистрация</option>
            </select></p>
            <p>Сообщение:<br> <input name="message" placeholder="Необязательное поле "/></p>
            <input type="submit" value="Отправить"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        
    </div>
</body>
</html>