<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{name}}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
        @tailwind base;
        @tailwind components;
        @tailwind utilities;
        
        @layer base {
          html {
            font-family:  'Comic Sans', system-ui, sans-serif; 
          }
        }
    </style>
    <script src="/static/canvasjs.3.js"></script>
</head>
<body>
    Тестовая страница рендера сервиса
    {{url}}
    <br>
    Рейтинг - {{score}}
    
    <img class="" width="100" src="{{image}}">
    {%if not subscribe_exist%}
    <a href="/add_subscribe&{{slug}}">Добавить в избранное</a>
    {%else%}
    Уже добавлено в избраное
    <a href="/delete_subscribe&{{slug}}">Удалить из избранного</a>
    {%endif%}
    <div class="div">
        <h3>У меня недоступен ресурс</h3>
        <form method="post" action="/add_report&{{slug}}/" enctype=multipart/form-data>
            {% csrf_token %}
            {{error}}
            <p>Выберете проблему:<br> <select name="type" id="">
                <option value=" ">---Выберете проблему---</option>
                <option value="connection">Подключение к сервису</option>
                <option value="login">Вход/регистрация</option>
            </select></p>
            <p>Сообщение:<br> <input name="message" placeholder="Необязательное поле "/></p>
            <input type="submit" value="Отправить"/>
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
        
    </div>
    {%if please_login%}
    Зарегистрируйтесь
    {%endif%}


    <div class="flex place-content-center">
        <div id="chart" class="mx-4 h-48 w-72"></div>
        {{info_status}}
        <script>
            window.onload = function () {
            
            
            var chart = new CanvasJS.Chart("chart", {
                animationEnabled: true,
                title:{
                    text: "{{item.1.name}}"
                },
                axisX:{
                    valueFormatString: "DD MMM hh:mm:ss",
                    labelAngle: -20,
                    gridThickness: 0.1,
                },
                axisY: {
                    title: "",
                    gridThickness: 0.1,
                    scaleBreaks: {
                        autoCalculate: true
                    }
                },
                data: [{
                    type: "line",
                    fillOpacity: .2, 
                    xValueFormatString: "DD MMM  hh:mm:ss",
                    color: "{{color}}",
                    dataPoints: [
                    {%for i in all_info%}
                        { x: new Date(Date.UTC({{i.year}}, {{i.month}}-1, {{i.day}}, {{i.hour}}, {{i.minute}}, {{i.second}})), y: {{i.y}} },
                    {%endfor%}
                    ]
                }]
            });
            chart.render();
            
            }
        </script>
    </div>

    
    <div class="div">
        <h3>Оставить отзыв</h3>
        <form method="post" action="/add_feedback&{{slug}}/" enctype=multipart/form-data>
            {% csrf_token %}
            {{error}}
            <p><br>
                <input type="radio" id="1" name="feedback" value="1">
                <label for="1">1</label>
                <input type="radio" id="2" name="feedback" value="2">
                <label for="2">2</label>
                <input type="radio" id="3" name="feedback" value="3">
                <label for="3">3</label>
                <input type="radio" id="4" name="feedback" value="4">
                <label for="4">4</label>
                <input type="radio" id="5" name="feedback" value="5">
                <label for="5">5</label>
            </p>
            {% if user.is_authenticated and user.is_confirmed%}
            <p>Сообщение:<br> <input name="feedback_message" placeholder="Оставьте отзыв"/></p>
            <input type="submit" value="Отправить"/>
            <input type="hidden" name="next" value="{{ next }}"/>
            {%else%}
            <a class="underline underline-offset-1" href="/login/">Войдите</a>, чтобы оставить отзыв
            {%endif%}
        </form>
    </div>
    <br>
    <div>
        <p>Отзывы. Всего - {{feedback_number}} отзывов(-а)</p>  
        {%for feedback in feedbacks%}
        {{feedback.users_name}} - {{feedback.message}} -{{feedback.rate}}
        <br>
        {%endfor%}

    </div>
           
</body>
</html>